<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>PokeWith :: Login</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/img/poke-favi.png" type="image/x-icon" />
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/custom-style.css" />
  </head>

  <body class="bg-gradient-info">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
       <!--<header include-html="/views/partials/header.html"></header> -->
       <header th:insert="~{/partials/header :: header}"></header>
        <div class="container">
          <!-- Outer Row -->
          <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
              <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                  <!-- Nested Row within Card Body -->
                  <div class="row">
                    <div class="col-lg-6 d-none d-lg-block">
                      <div class="d-flex justify-content-center">
                        <img src="/static/img/rekujya.png" style="width: 130%; height: 70%" />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="p-5">
                        <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Welcome PokeWith!</h1>
                        </div>
                        <form class="user" action="" method="POST">
                          <div class="d-flex justify-content-center align-items-center mt-5">
                            <img src="/static/img/poke-logo4.png" style="width: 50%" />
                          </div>
                          <div class="form-group">
                            <p class="h6">My email</p>
                            <input type="text" class="form-control form-control-user email" id="email" />
                          </div>
                          <div class="form-group">
                            <span class="h6">Password </span>
                            <input type="password" class="form-control form-control-user password" id="password"/>
                          </div>
                          <a href="#" class="login-btn btn btn-google btn-user btn-block">
                            Login
                          </a>
                          <a href="#" class="f-login-btn btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                          </a>
                        </form>
                        <div class="text-center err-msg"> </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Nested Row within Card Body -->
                </div>
				<footer th:insert="~{/partials/footer :: footer}" class="sticky-footer bg-white"></footer>
              </div>
            <!-- End of Card body -->
            </div>
          </div>
        </div>
      <!-- End of Outer Row -->
      </div>
      <!-- facebook 로그인 링크 -->
      <!-- https://www.facebook.com/v2.5/dialog/oauth?client_id=630118604601342&response_type=code&scope=email&redirect_uri=https%3A%2F%2F192.168.1.136%3A8443%2FfacebookSignInCallback -->
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    <script src="/static/js/login.js"></script>
  </body>
</html>