<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>PokeWith :: Register</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/img/poke-favi.png" type="image/x-icon" />
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/custom-style.css" />
  </head>

  <body class="bg-gradient-info">
    <div class="container">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-flex align-items-center justify-content-center bg-warning">
              <div class="">
                <img src="/static/img/paduck.png" />
              </div>
            </div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Account Option</h1>
                  <p>Please insert additional information.</p>
                </div>
                <form class="user" method="post">
                  <div class="form-group">
                    <p class="h6">My email</p>
                    <input type="text" class="form-control form-control-user email" id="email" placeholder="ex) abc@gmail.com" />
                  </div>
                  <div class="form-group">
                    <span class="h6">Password </span>
                    <span class="sm-msg ml-1"> alphabet + number + Special character 8~20 </span>
                    <input type="password" class="form-control form-control-user password" id="password" placeholder="password"/>
                  </div>
                  <div class="form-group">
                    <p class="h6">Password Again</p>
                    <input type="password" class="form-control form-control-user password2" id="password2" placeholder="same password" />
                  </div>
                  <div class="form-group">
                  	 <p class="h6">My PokemonGO Nickname</p>
                    <input type="text" class="form-control form-control-user nickname1" id="nickname1" placeholder="ex) red" />
                  </div>
                  <div class="form-group">
                  	<span class="h6">My PokemonGO Friend Code</span>
                    <span class="sm-msg ml-1"> must type 0000-0000-0000-0000 </span>
                    <input type="text" class="form-control form-control-user friendCode1" id="friendCode1" placeholder="ex) 0000-1111-2222-3333" maxlength="19" />
                  </div>
                  <a href="#" id="register-btn" class="btn btn-info btn-user btn-block register-btn"> Register Account </a>
                  <a href="#" id="clear-btn" class="btn btn-warning btn-user btn-block clear-btn"> Clear </a>
                </form>
                <hr />
                <div class="text-center err-msg"> </div>
              </div>
              <footer th:insert="/partials/footer :: footer" class="sticky-footer bg-white"></footer>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>
    <script src="/static/js/register.js"></script>
  </body>
</html>